<div class="row">
	<div class="genre-box col-xs-3">
		<h3>ジャンル検索</h3>
		<% @genres.each do |genre| %>
			<p><%= genre.name %></p>
		<% end %>
	</div>
	<div class="col-xs-9">
		<p>
			ようこそ、 NaganoCakeへ！<br>
			このサイトは、ケーキ販売のECサイトになります。<br>
			会員でない方も商品の閲覧はできますが、<br>
			購入には会員登録が必要になります。
		</p>
		<h3>おすすめ商品</h3>
		<div class="top-product-box">
			<% @products.each do |product| %>
				<div class="top-product">
					<%= attachment_image_tag product, :image, size: '50x50' %><br>
					<%= product.name %><br>
					¥<%= product.price %>
				</div>
			<% end %>
		</div>
	</div>
</div>